/*--------------------------------------------Section 1 ----------*/

.btn-primary,.btn-primary:active, .btn-primary:visited {
    border-color: orangered;
    background-color: orangered
     !important;
}

.main-text-items{
    margin-left: 156px; 
    margin-top: 146px;
}

.image{
    margin-left: 100px;
    margin-top: 58px;
}

.h-2{
    width: 456px; 
    height: 66px; 
    margin-bottom: 0px;
}

.text-wrap{
    width: 456px; 
    margin: top -2px;
}
.one{
    background-color: #264653;
    display: flex;
    width: 100%;
    height: 626px;
    color: #FFFFFF;
}

.modal-body {
    color: black;
}

.modal-title{
    color: black;
}



/*-------------------------------Section 2 ----------*/

.text-two{
    width: 100%;
    margin-left: 40%;
    margin-top: 34px;
    margin-bottom: 15px;
    font-weight: 700;
 width: 442px;
 height: 72px;
}

.text-two-sub{
    width: 138px;
    height: 21px;
    width: 100%;
    margin-left: 600px;
    margin-top: -40px;
    margin-bottom: 30px;
    font-weight: 470;
    color: #E76F;
}


/*-------------------------------------------Section 3 ----------*/
.section-three{
    display: flex;
    margin-bottom: 70px;

}

.bike-1{
    margin-left: 120px;
    margin-top: 20px;
    filter: grayscale(100%);
}

.bike-2{
    margin-left: 120px;
    margin-top: 20px;
}
.bike-3{
    margin-left: 120px;
    margin-top: 20px;
    filter: grayscale(100%);
}



/*---------------------------------------Section 4 ----------*/
.icon-color{
color: orangered;
}

.user-1{
    border: 5px solid white;
}

.user-2{
    border: 5px solid white;
    margin-left: 60px;
    margin-right: 65px;
}
.user-3{
    border: 5px solid white;
}

.icons{
    margin-left: 29%;
    margin-top: -25px;
    margin-bottom: 5px;
}

.card-text{
    margin-top: -30px;
}

.users-profile{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    
}

.happy{
    text-align: center;
    width: 100%;
    margin: 37px;
    margin-left: auto;
}

.happy .color-change{
    color: orangered;
}



/*--------------------------------------------Section 5 ----------*/

.section-five{
    display: flex;
    margin-left: 10%;
    height: 500px;
    width: 1100px;
}

.last-image{
 margin-left: 50px;
 margin-right: 80px;
 width: 432px;
 height: 423px;
}

.accordion{
    margin-top: 50px;
}


/*--------------------------------------------Section 6 ----------*/
.log-in-form{
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.log{
    text-align: center;
    margin-left: 25%;
    padding: 5px;
    padding-bottom: 10px;
    background-color: orangered;
    color: white;

    width: 50%;
    border: 2px solid orangered;
    border-radius: 4px;
}











@media only screen and (max-width: 400px) {


    /*--------------------------------------Section 1 MediaQQ----------*/
        header{
            background-color: #264653;
            height: 761px;
            width: 361px;
        }

        #h2{
            margin-right: -10px;
        }
    
        .one{
    display: block;
    width: 360px;
    
        }
     
    .only-text{
        margin-right: 50px;
        width: 325px;
        height: 222px;
        padding-left: -45px;
     
    }
        .btn-primary,.btn-primary:active, .btn-primary:visited {
            border-color: orangered;
            background-color: orangered
             !important;
        }
        .main-text-items{
            width: 325px;
            height: 222;
            margin-left: 10px; 
            margin-top:0;
            padding-top: 50px;
    
        }
    
      
        .text-wrap{
            width: 87%; 
            margin-right: -10px;
            margin-top: -35px;
            padding-right: 15px;
          
        }
    .image{
    height: 260px;
    width: 321px;
    margin-left: 14px;
    margin-top: 130px;
    }
        
    /*---------------------------------------Section 2 MediaQQ----------*/
    
    .text-two{
        width: 300px;
        height: 75px;
        margin-left: 20px;
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 15px;
        font-weight: 700;
        padding-left: 25px;
        padding-right: -10px;
    }

    .two{
        padding-right: 50px;
        padding-left: 25px;
    }
    
    .text-two-sub{
        width: 100%;
        width: 138px;
        height: 21px;
        margin-left:85px;
        margin-top: -40px;
        margin-bottom: 15px;
        font-weight: 470;
        color: #E76F;
    }

      /*---------------------------------------Section 3 MediaQQ----------*/
    .section-three{
        display: block;
        margin-left: -70px;
        margin-right: 5px;
       
        width: 258;
        height: 343;
    }

    .three{
        width: 350px;
        height: 343px;
        margin-bottom: 20px;

    }
    /*-----------------------------------------Section 4 MediaQQ----------*/

    .users-profile{
        display: block;
        margin-left: 33px;
        margin-top: 400px;
    }

    #happy-issue{
        margin-top: 520px;
    }

    .user-2{
        border: 5px solid white;
        margin-left: 0px;
        margin-right: 65px;
    }
    /*-----------------------------------------Section 5 MediaQQ----------*/
    .last-image{
        margin-left: 10px;
    height: 270px;
    width: 274px;

       }

    .section-five{
        display: block;
        margin-left: 10px;
        height: 1482px;
        width: 322px;
        margin-bottom: -570px;
    }

/*-----------------------------------------Section 6 MediaQQ----------*/
#happy{
margin-bottom: 50px;
}

#car{
margin-left: -365px;
}
    
}